<form #form="ngForm" (submit)="onSubmit(form)"
        [class.submitted] = "service.categoryFormSubmitted" novalidate autocomplete="off">
    <input type="hidden" name="Id" [value]="service.categoryFormData.Id">
    <h3 *ngIf="!service.categoryFormData.Id" class="text-center">Create New Category</h3>
    <h3 *ngIf="service.categoryFormData.Id" class="text-center" >Update Category</h3>
    <div class="mb-3">
        <label>Name</label>
        <input class="form-control form-control-lg" 
            placeholder="Name"
            #Name="ngModel" name="Name"
            [(ngModel)]="service.categoryFormData.Name"
            required>
    </div>
    <div class="mb-3">
        <label>Description</label>
        <input class="form-control form-control-lg" 
            placeholder="Description"
            #Name="ngModel" name="Description"
            [(ngModel)]="service.categoryFormData.Description"
            required>
    </div>

    <div class="d-grid">
        <button *ngIf="!service.categoryFormData.Id" name="submit" class="btn btn-lg btn-success w-75 mx-auto" type="submit">Submit</button>
        <div class="row justify-content-end">
            <div class="col-6">
                <button *ngIf="service.categoryFormData.Id" name="update" class="btn w-100 btn-md btn-primary" type="submit">Update</button>
            </div>
            <div class="col-6 text-end">
                <button *ngIf="service.categoryFormData.Id" class="btn btn-md btn-warning" type="submit" (click)="resetForm()">Reset Form</button>
            </div>
        </div>
    </div>
</form>