<div class="bg-body-secondary text-center py-5 rounded-2">
    <h1 class="fw-bold">Categories</h1>
</div>
<div>
    <div class="row mt-4">
        <div class="col-6 mx-auto">
            <app-category-form />
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 mx-auto">
            <ul class="list-group">
                <li 
                 class="list-group-item d-flex justify-content-between align-items-start mb-2 border px-4 py-3 rounded" 
                 *ngFor = "let ct of service.categoryList">
                    <div class="flex-grow-1 text-center">
                        <table class="table" style="table-layout: fixed;">
                            <thead>
                                <th class="w-100">Name</th>
                                <th class="w-100">Description</th>
                                <th class="w-100"></th>
                            </thead>
                            <tbody>
                                <td class="w-100">{{ ct.Name }}</td>
                                <td class="w-100">{{ ct.Description }}</td>
                                <td class="w-100">
                                    <span class="text-primary">
                                        <i class="fa-solid fa-pen-to-square fa-xl mouse-hover" 
                                        (click)="populateForm(ct)"></i>
                                    </span>
                                    <span class="text-danger">
                                        <i class="fa-solid fa-trash fa-xl mouse-hover" 
                                        (click)="onDelete(ct.Id)"></i>
                                    </span>
                                </td>
                            </tbody>
                        </table>
                    </div>
                    
                </li>
            </ul>
        </div>
    </div>
</div>

